{{ define "crear" }}
{{ template "cabecera" }}
  <div class="card">
    <div class="card-header">
      Empleados
    </div>

    <div class="card-body">
      <form method="post" action="/insertar">
        <div class="form-group">
          <label for="">Nombre:</label>
          <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="Enter Name">
          <small id="helpId" class="form-text text-muted">Enter Name</small>
        </div>
       <div class="form-group">
          <label for="">Correo:</label>
          <input type="email" class="form-control" name="correo" id="correo" aria-describedby="emailHelpId" placeholder="Enter Email">
          <small id="emailHelpId" class="form-text text-muted">Enter Email</small>
        </div>
        <button type="submit" class="btn btn-success">Add new Employee</button>
        <a class="btn btn-danger" href="/">Cancel</a>
      </form>
    </div>
  </div>
{{ template "pie" }}
{{ end }}